Source: battery-icon
Section: user/utilities
Priority: optional
Maintainer: Cristi Boian <apps@cristiboian.com>
Build-Depends: debhelper (>= 5), libqt4-dev, libqmsystem2-dev, libgq-gconf-dev, libmeegotouch-dev
Standards-Version: 3.7.3
Homepage: http://cristiboian.blogspot.com/p/apps.html

Package: battery-icon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Icon showing the battery level.
 Battery Icon is a small widget-like app which shows the battery level in 
 its icon. The app itself shows more information about remaining battery times 
 and has settings for power saving mode and displaying the battery level on 
 stand-by screen.
XSBC-Maemo-Display-Name: Battery Icon
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAEXNJREFUeJztnX90HNV1xz/vvZnd1S9L/onAMZIAGzBgywYHEwzIodSQ
 HHJMmoRCSMA5+XFCaYxPIWlLUxdCAi2m2D2knCZpDE2CIWmCKeQHgRDZmF/GgGQTA8Yg2QJs7EiW
 ZEm7Oz/e6x+zO9odrWSvJIgl555zNbMz775585377r3vzpsnYYzhzzR8sgCEEO/7hS7YtqseqAXq
 gcrMFqBWBMeLJgOtBAzQBHRltq0bzqhpGn5rD/P6xiCMMaMO4Plbd1UBDcAFQL0QNGTPdXoazxh6
 tQYgpQ0pnd8LPGPo8XXesXIlsSLtTEhBQgbHymRwvsqS4XljaCQAdAPQuHFOTeeo3GBY/ygCeN7W
 XbXAUgFXA/WeMXT5mh5fh1vvAzIXlhCUK0mlkuE2A36TgfuA9U/NqWkd6XVGBcBFW1sbgOUCsTSl
 Ne2ept3z6fL8kbZvVKnSUky2FJMtSUJKDGY9sGbTnNrG4dY5IgDPbW5tAFYiaOhwffa5Pu1HGGiD
 0WRLMc1WTLIVBN385qfnFg/ksAD8yEstVQhWAtd3eD4tKYe0HpuePC4FdYkYkywFsBrDzc/Mrzts
 O1k0gOe8+GY9iIfS2tTuTKbpjhj6sUoTlOSkkjhxKVrBXPbsmScelgcvCsCFL+y8Bli73/HZlXI+
 MIfwQZElBDWJGFNjCmDZcwtOuvdQMocN4NnP7bgGIdbuSjrsdbzRafERStUxi5qSGBiz7PmFs+4d
 quxhAfjhZ16/BsHat/oc/uiOb/CyNMW2OKE0BoZlmz9y8r2DlTskgGdterVeIF7enXJ4L310gJel
 Y+IWxydiGMy8LYtOLWgThwTwrI3bq4CX2x2vtiXpvN/tPSKpriTG5JjVCszbcv7sAd7ZGBOMhQuR
 0Walo03t7t70+9nGI5p296Ypl7I2JsVKYEWhMlENFADzHnmhQZTGn3yjJ8VBNyc4HmeeN6TcHpgP
 BRWWYmZFCaScxS99bH5jVDRXA7OiwthqZWdfmoN9KcAEwBkT7I9LEgGIQgT7sn970NF0phSVMWsl
 0DhAMqOBWfDk6T/bsFiVlj7+audBHM8HbUD7BEDmSI51bRygdQKkCsCTqn9fSGJKMntCKSAWNy2Z
 25hbTVQDpZDW1w70JDklobjrwydwzjETGH6qYWyRbwxb9vfwlWdaeL3HAcsCaXC0oTPlUmmp5US0
 UObuz/q3++qM0Zce6Olh7aITWDC14qgBD0AJwfwp5dy1YAa4aXAd8HzwfDpSDgaWznnw6dpcmSyA
 AhCqunppKu1wsKeP2RPLsOXRBF9AthScf1wVpNPgOOC7oH260w5pz8eUxpfmls/TQIR11cG+ZCB8
 FJMSIsDA9QL2NWhDd9rFePrq3LJZGyimr/hWlYEzDvalwHUHVHr3ttM+iLa/r/SNq+cMeq73pXX5
 BxwHlBWw1ICkO+0yybbqZ//i+artnzy7E3KcSNmp9Rd4rktfygmEIzTWnW5ARZgkxwErBtIDoQBJ
 b9rDS/goIRqA9ZDbhe3YeX2OlzGaBca9ZhywGIKj5AfOA60zoVzAvY6H0fqCbLGwC4OYm3K9IObz
 B6bmzbjInRahgV4WCx3gIQNdS7k+5UpmX8n2d2GDPC/peAHSBbqrYRwgWMy7H0MGiwzrQI37HBcT
 sxqyxSTAifc8MtdoTdp1Myo7ECyjxz4X1YezOEQ45XoYrZn14431kNVAYdUabdC+6Uc9CuB4cCLF
 aKDWQff1fJB+4Eg0aCEwvgZf1wHNAYBKzk06XuZRZdU1n446AF0XbDcYjQgZdGmlQAj60g4JKeqB
 hy0Ao02l7/ug6fc4ESrQq8cgyUMXyZLrgpPuB0/rDIAKz3EwSk4ERKCBhrlp1+8Hr4guHFPlnDvj
 OmorFzGppA4lY3QkW9nT08ym3XfRlX5n1OQq49O5sO6bzJjwYeJWBe19b7L53e+zbd/PC16jPDaN
 6xY8jy1L2Lj7ThCbDgs7gOSarw445hvDmudbuOP5XZSWxOYShNlgcg2lGcyJDDw2rewUPjfn55TF
 puYdP7b8DI4tP4M50z7N+teuY/v+h0csV2pP4kvzn6DEmhgeO66inqUnf5dy+xieabt7QPvOm7EC
 W5aQ9A7wbNs9IAYfiRwOKSFYcfYJ3PHUDoxCkg1ujDa1rpcTMBbQtpxYEm1AihifPPX7eSB4Ok3K
 6wp/WzLOpSffRWWiZsRy58z42xC8x3b+M/dsaaAz9TYA59fcgC3L89o3IT6DedWfBeDp3d8l6XYH
 3XEwPkwSAtxkCu26NUAwF8wYagIb2N8CYyIcCQmOK5/PtLKTw4qfbfsvvrPhBG7bOJMHt30Bk4m8
 46qc2VM+MQpyczIP0uPZtu+xt3s7O9ofByCmSpmUOCmvfQ01X0fJGD3Ofp5r+34QxmSzzgV4wP0O
 wZ6Twvh6BqBknnoZEzgSYzA6wjkxpTEwrezUEARfO/z2jVvwtIsx8Id9j9LS+XR4vrr8tBHLVcSq
 AUh7B9FaYwyk3H6trYhXh2WnlM5iTvWnANjYuhrHSwY2fCgAo/c7BOO66GC4K3NsoMmzgdGpvyYy
 uks63QPO54pIVE7ZrlB+uHLd6b1MKZtJ3KpAaIU2PiWq3x529+0Ny3607u+RQtGVeocXdt+XMwwd
 vKsWM9XZeC7GDwAMurBvMH6OAdEUUF2dx6/v+y1prwcAJWNcNPMmpLDAGOYe+1fUTDwnvGDTuz8b
 sdy73dsCCITFotq/4UOV8zl56kUAOH4v+3t3YIzm2IrTmX3MxwH4/ZurcP1UWMdodWE8jfE0ZDUQ
 o9ERLTQm3+tGnXCf08UDTV/kynlrsVUJ59Zey8KaL6G1j60SYbnHd3yH1o7NI5bb8OYazpx+JSV2
 FRfN/Ke8tvzujTtIOsFD+YuTbkIg6OhrZUvbuvyQdghnEb3foUj7fphdCTXQ9SJO5BA20Bh4bd8T
 /OjFz6NNkP5Sws4DYVPLPTy5899HRa4n3c5/bFpM87sP0Zl8G8fv5e2uJn7afC0b37obY6Bm4kJm
 Tb0QgCfe+Fd87eXVMZQXLsYGep4fDOfIjIWNjoQwGSeSj/rAJ7Hg+Ku47Iw7gi5YgBbVfZVJJbX8
 +MUv4Gt3xHIdPW3c/+KXCsoA/OWsQDPfO/g6L7X9HGPg5GkX8tGZK6iumM2X69NsfPk1brx7He1d
 PXmy0fsdkozJxsUiEwdGgmht0EbncVSLplfW88k5q1DSBuCVPY9y+xNn8i+/mcn/vXJTqF2zqy/h
 4lO+OWK5Q/GsqRdSN2khAL997Xa01sw57jKWnf0AtZMWkrAnUHfcVK7++Hls/uEtlJYk8jQwer9D
 cbaHQrYLR6PkAmqrtZ/Hi+q+EmpQd2ovP37hi/yx5y16Un9k487/5NmWteEDO6d2GTFZOiK5odho
 zZJT/gGAdzqb2frOw2Dg4lMCe9ideo/VjYu57X8eBaD22Clc96mLhh/GRAFEG2xBXgJRa53H0UC6
 ZtJZ4Y3u3P8UrpfOO//6e0+G521VwtSyWSOSG4pPP/ZSPlQVJIl/9Ydb0dpQmfgQk8tqAfjDnl/R
 1tHEqnWPhXUvPvPUfA2M3O9QbAnC2Cuwgb5BZDOw2TAmagMjTiphV4b7AjVw+GxU5IBE6+HLDUZC
 SJac+o8AtLQ/z/Y9TwBQlZgRlulO7kNr6OxNknY94rZFTfWUvPRWMTZQGMDPBTDXBhoD6AHJg6iX
 7+x7l7LYJADqJp+NIo6n+98n101emFf+3QOvYvTw5QajBbWXUz0hGBr+ctutYdncuNiYTPtzwhhD
 5Hcx+bp+J2JynEi+DRyguhEzuX3P42F9VaXTufysNcStSgySOdM/waKTvhief6fzFZJuz4jkCrEQ
 NktO+wYAr7/XyI73NoXn2nvawnoqEtPQBqoqyojbgf3dtbc9zwYW04WzuQIINTBjFHNeoERV2kTi
 mN+9uoaFdVdRkQiyKgtqL+es2s/g+SlsVZLzsDQPvnB9KD9cuUJ0zolfYHJZDQCPNt+SV7ajZxft
 PbuYXF7DGdM/xrM77+PrV14cnm9s2hHRwCKGcoQabrI17FLQn5E2HNKJ9CQ7uPvJpbT37g4rFog8
 EFw/yc+23Mhb+zaPWC7KlihhyWk3ArDtnV/Tsn9L3nnf93mk+WYAJiSO4YYljXzjyiUAtO07wN0P
 bRiWBu7v7kMKCYK3ARNooOe3SmNqct8+RW1CoQfU1rGNmx+ez6KZy6g//lKmVZxISayKfd07aTuw
 lcdeWcX+gy2jJpdL58/6MpUl1RgMjzTdWrB9m1v+l950FxeffgPHTTyN/Qd8Nja/wQ33/IK+tEdu
 cuFwbODezl7ufKwJKSTGcdsALYwxTFmxtjGZSl3Q19cHThKcPnat+lye8G1PnX3ICxzp9L37rh70
 XMsPrs37XfP5bwWTLJUFyg6medhxsBOUlJWTiMefOfCDv7sk0EBhmiVcELqufi8TUhFj7SOXhngr
 N0ADlZ0BLgNeFkQrhrJsjGAr4AcAul6XMCYvDtTRLjzqd/MnoCEAjN4vVjwDWDwAUfWzkBYY00kI
 oKRZIUIPXCiZMJQ3HDM0VDorakSVnQEv3q+BygKpUMrGCO9lQgB7+1qRNiLbdbPxTu4FikhWHLlU
 hAYKK0iXKhukHexLCyEVRkiMZb0FaAnQ9d8rmjEmk0zv18B8Hno8Oha4mHciSBmCFk60FAolJcJI
 ur973ctkwxgA4/tPKcF5XiYOjGZox7sGDsxIB5Mq+zn4bUmFEaaRjFsIjYLxvK0SEYbZWufzuKAh
 NLDw/Q6cvSWFwGiayCDVD2A6uUlBkGUo9F44KzGGeSga8OIod9Dt93MGow1ZubALe29v32AdX4+S
 wayuqFe6ccHvD9GEI59uXDD4uQFeODus1QZksFVW5njQhYF+AE3qmXVd5TVzX1FCnu4Dnu+jZBGz
 mcYRJcOv8vtNGsYEa89I0dT9w2vDT19zETI62bvOUgqEZMP2t+nsTaELdedxyr7WHOxL88uXWjKZ
 6pwPEAFLCozn35cLdj6AfvujQkqUZXPTTzfzwKZX2dPRHT6B8cza17Tt6+KBp1/lzl83B+PgLIgI
 LCmDz4Krq9bnApj9WlMSdOd46advfdB3nEvSyd7gezEvDTozY308jEYKUfbrTGWD6k8aYMUzgbRF
 Imaj4rH1vWuvvSxXNPfFrAF83dNxjyybeIlw44HnkhL8DIBhrDROwppseCLkwMyLtIN50UIghEBK
 gfG8NQNqyPleOKuFdsmnv/0b3/fPddLpzLcSOfOnxw14WcrGgjIc6yLtnH1FPGajlGzs+9HyxVHp
 ARoIYKT3bSniv5JaoH0veCpZexEWHQ+U1cAsiCrocdmtVEilggRqSfyWgjVEvljPaqJKfOb2VaCu
 S7tOEFiOS+3LUo4Wiv59ISRx20YIVid/srzgohNhHBjUEsxHB4w+sOcWOaXmUot4jetnPvmH8Ydh
 3iITuWsngKUsELQaN1VQ+4CC68aEPxKXr5qHsl50fR9/vIyHD0kCBCgpsJUCxLzUT7426GJkh1z6
 Kf7ZNdcAaz1fHzUgKimwgtnPy9I/WX7vUGUPOVbLVLDMUhJ1FCwBUAx4RS1/F7sy0ERtDN44WTcw
 SpaSyACLZc79Q4MHRQIIELtyTT3wkDGm1suZ3jDWSQiBJQVCiFbgMuf+5Ye9AGNR6Rbn/uVNxph5
 wGpLCpQUY3pZFEGmywamabUxZt7hghfWUYwG5pJ9xeoGYCXQoE0wh1qPEY2UQhBkpgQEC+nc7K67
 vrHYeoruwoXIvmJ1g4HlwFIIQAzi7iMLTJEPGlhqvfD8NcMBLkujAmCWrCtW1xKAeDWZZd7DVwF/
 AkCzgInMfoaayCzE7a27vnWk1xhVAHPJumJ13lLwmf3wogZyBjYFgDUDBzwi/BM9LsICEbCA/KXg
 vXXXH7lLwR+K1F/fNeg/I2CY/4yAIf4Zgf/Aig/unxH8mYZP/w8WF3w+141h4QAAAABJRU5ErkJg
 gg==
